<h1>Listing forms</h1>

<table>
  <thead>
    <tr>
      <th>Forms name</th>
      <th>Forms description</th>
      <th>Forms date</th>
      <th>Forms number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.forms_name %></td>
        <td><%= form.forms_description %></td>
        <td><%= form.forms_date %></td>
        <td><%= form.forms_number %></td>
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form', new_form_path %>
